<!DOCTYPE html>
<head>
	<title>SmartestPhone</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Bienvenido a SmartestPhone</h1>
			<br/>
			<h3>Encuentra el smartphone más smart</h3>
		</div>
		<h1 class="display-4">Añadir</h1>
			<form method="get">
		<div class="row">
					<div class="col">
						<p>
							<b>Marca</b>
							<input type="text" name="arg1" class="form-control" required/>
						</p>
						<p>
							<b>Modelo</b>
							<input type="text" name="arg2" class="form-control" required/>
						</p>
						<p>
							<b>Color</b>
							<input type="text" name="arg3" class="form-control" required/>
						</p>
						<p>
							<b>Batería</b>
							<input type="number" name="arg4" class="form-control" maxlength="4" min="1" required/>
						</p>
						<p>
							<b>Almacenamiento</b>
							<input type="number" name="arg5" class="form-control" maxlength="3" min="1" required/>
						</p>
						<p>
							<b>RAM</b>
							<input type="number" name="arg6" class="form-control" maxlength="2" min="1" required/>
						</p>
						<p>
							<b>Peso</b>
							<input type="number" name="arg7" class="form-control" maxlength="3" min="1" required/>
						</p>
					</div>
					<div class="col">
						<p>
							<b>Sistema Operativo:</b>
							</br>
							Nombre:
							<input type="text" name="arg8" class="form-control" required/>
							Version:
							<input type="text" name="arg9" class="form-control" maxlength="1" min="1" max="8" required/>
						</p>
						<p>
							<b>Pantalla</b>
							</br>
							Tipo:
							<input type="text" name="arg10" class="form-control" required/>
							Pulgadas:
							<input type="number" name="arg11" class="form-control" step=".1" maxlength="4" min="1" max="7" required/>
							Resolucion:
							<input type="number" name="arg12" class="form-control" size="4" maxlength="4" min="1" required/>
							x
							<input type="number" name="arg13" class="form-control" size="4" maxlength="4" min="1" required/>
						</p>
					</div>
					<div class="col">
						<p>
							<b>CPU</b>
							</br>
							Marca:
							<input type="text" name="arg14" class="form-control" required/>
							Modelo:
							<input type="text" name="arg15" class="form-control" required/>
							GHz:
							<input type="number" name="arg16" class="form-control" step=".1" maxlength="3" min="1" required/>
							Nucleos:
							<input type="number" name="arg17" class="form-control" maxlength="1" min="1" max="8" required/>
						</p>
						<p>
							<b>Cámara:</b>
							</br>
							Marca:
							<input type="text" name="arg18" class="form-control" required/>
							Modelo:
							<input type="text" name="arg19" class="form-control" required/>
							Megapixeles:
							<input type="number" name="arg20" class="form-control" maxlength="2" min="1" required/>
							Selfie:
							<input type="number" name="arg21" class="form-control" maxlength="2" min="1" required/>
							Dual: 
							<input type="checkbox" class=".form-check-inline">
						</p>
					</div>
					<div class="col">
						<p>
							<b>Dimensiones</b>
							</br>
							<input type="number" name="arg22" class="form-control" size="4" step=".01" maxlength="6" min="1" required/>
							x 
							<input type="number" name="arg23" class="form-control" size="4" step=".01" maxlength="6" min="1" required/>
							x 
							<input type="number" name="arg24" class="form-control" size="4" step=".01" maxlength="6" min="1" required/>
						</p>
					<input type="submit" name="accion" value="Añadir" class="btn btn-success"/>
					</div>
		</div>
			</form>
		<div class="row">
			<div class="col">
				<h1 class="display-4">Consultar</h1>
				<fieldset>
					<form method="get">
						Marca<br/>
						<input type="text" name="arg1" class="form-control" required/><br/>
						Modelo<br/>
						<input type="text" name="arg2" class="form-control" required/><br/>
						<input type="hidden" name="arg3"/>
						<input type="submit" name="accion" value="Buscar" class="btn btn-info"/>
					</form>
				</fieldset>
			</div>
			<div class="col">
				<h1 class="display-4">Resultados</h1>
				<h6>
					<p>Marca: <small>{{#smartphone}}{{marca}}{{/smartphone}}</small></p>
					<p>Modelo: <small>{{#smartphone}}{{modelo}}{{/smartphone}}</small></p>
					<p>Color: <small>{{#smartphone}}{{color}}{{/smartphone}}</small></p>
				</h6>
			</div>
		</div>
	</div>
</body>
</html>
