<!DOCTYPE html>
<head>
	<title>SmartestPhone</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Bienvenido a SmartestPhone</h1>
			<br/>
			<h3>Encuentra el smartphone más smart</h3>
		</div>
		<div class="row">
			<br/>
			<div class="col">
				<h1 class="display-4">Añadir</h1>
				<form method="get">
					Marca<br/>
					<input type="text" name="arg1" class="form-control" required="true"/><br/>
					Modelo<br/>
					<input type="text" name="arg2" class="form-control" required="true"/><br/>
					Color<br/>
					<input type="text" name="arg3" class="form-control" required="true"/><br/>
					<input type="submit" name="accion" value="Añadir" class="btn btn-success"/>
				</form>
			</div>
			<div class="col">
				<h1 class="display-4">Consultar</h1>
				<fieldset>
					<form method="get">
						Marca<br/>
						<input type="text" name="arg1" class="form-control" required="true"/><br/>
						Modelo<br/>
						<input type="text" name="arg2" class="form-control" required="true"/><br/>
						<input type="hidden" name="arg3"/>
						<input type="submit" name="accion" value="Buscar" class="btn btn-info"/>
					</form>
				</fieldset>
			</div>
			<div class="col">
				<h1 class="display-4">Resultados</h1>
				<h6>
					<p>Marca: <small>{{#smartphone}}{{marca}}{{/smartphone}}</small></p>
					<p>Modelo: <small>{{#smartphone}}{{modelo}}{{/smartphone}}</small></p>
					<p>Color: <small>{{#smartphone}}{{color}}{{/smartphone}}</small></p>
				</h6>
			</div>
		</div>
	</div>
</body>
</html>